tps_may_large.parquet
train.csv
course_ds/dataset/aligned_reduced.csv
*.tar.gz
*.sqlite
*.csv
*.ftr
*.zip
*.jpg
*._*
*.jpeg
*.zip.*
03-steak.jpeg.*
*.v2
10_food_classes_10_percent.zip.*
10_food_classes_10_percent.zip.1
